services:
  spa-react:
    image: node:22-alpine
    working_dir: /app
    ports:
      - "5173:5173"
    volumes:
      - ./:/app
      - /app/node_modules
    environment:
      - CHOKIDAR_USEPOLLING=true
      - HOME=/app
      - npm_config_cache=/app/.npm-cache
    command: sh -c "npm install && npm run dev -- --host"